/target/classes/com/example/demo/bean/Apply.class
/target/classes/com/example/demo/mapper/ApplyMapper.class
/target/classes/com/example/demo/mapper/AuthorEsRepository.class
/target/classes/com/example/demo/controller/CollectionController.class
/target/classes/com/example/demo/controller/CommentController.class
/target/classes/com/example/demo/DTO/CommentDTO.class
/target/classes/com/example/demo/bean/Comments.class
/target/classes/com/example/demo/mapper/CommentsMapper.class
/target/classes/com/example/demo/service/CommentsService.class
/target/classes/com/example/demo/bean/CommonResult.class
/target/classes/com/example/demo/config/CorsConfig.class
/target/classes/com/example/demo/bean/Directory.class
/target/classes/com/example/demo/controller/DirectoryController.class
/target/classes/com/example/demo/config/DruidConfig.class
/target/classes/com/example/demo/config/ElasticSearchClient.class
/target/classes/com/example/demo/config/EsConfig.class
/target/classes/com/example/demo/bean/Follow.class
/target/classes/com/example/demo/controller/FollowController.class
/target/classes/com/example/demo/mapper/FollowMapper.class
/target/classes/com/example/demo/controller/HotController.class
/target/classes/com/example/demo/controller/MessageController.class
/target/classes/com/example/demo/service/MessageService.class
/target/classes/com/example/demo/config/MyBatisConfig$1.class
/target/classes/com/example/demo/config/MyBatisConfig.class
/target/classes/com/example/demo/bean/Paper.class
/target/classes/com/example/demo/DTO/PaperCreateDTO.class
/target/classes/com/example/demo/mapper/PaperMapper.class
/target/classes/com/example/demo/DTO/PaperReturnDTO.class
/target/classes/com/example/demo/service/PaperService.class
/target/test-classes/com/example/demo/PaperTest.class
/target/classes/com/example/demo/controller/ResearcherController.class
/target/classes/com/example/demo/mapper/ResearcherMapper.class
/target/classes/com/example/demo/config/RestClientConfig.class
/target/classes/com/example/demo/controller/SearchController.class
/target/classes/com/example/demo/*
